<div class="topnav">
    
    <!-- <a routerLink="marcar-consulta" >Marcar Consulta</a> -->
    <ng-container *ngIf="!( isLog$ | async)">
        <a routerLink="" class="active">Home</a>
        <a >Sobre</a>
        <a >Contato</a>
        <a routerLink="cadastro-usuario">Cadastre-se</a>
        <a routerLink="login">Login</a>
    </ng-container>

    <ng-container *ngIf="( isLog$ | async)">
        <a routerLink="marcar-consulta" class="active">Home</a>
        <a routerLink = "marcar-consulta">Cadastrar consulta</a>
        <button (click) = "logout()">Sair</button>
    </ng-container>

  </div>

  