<!-- <div class="login-container">
  <mat-card>

    <mat-card-title color="primary">
      <mat-toolbar color="primary">Toolbar</mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm" >
        <mat-form-field>
          <input matInput type="text" placeholder="Usuário" formControlName="login">
          <mat-error>
            Campo usuário é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Senha" formControlName="password">
          <mat-error *ngIf="password.hasError('required')">
            Campo senha é obrigatório
          </mat-error>

          <mat-error *ngIf="password.hasError('minlength')">
            Validação mínima de 8 caracteres
          </mat-error>
        </mat-form-field>

        <button mat-button type="submit" color="primary" >Entrar</button>

      </form>
    </mat-card-content>

  </mat-card>

</div> -->

<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Seja bem vindo!</h1>
          <p class="text-lead text-light">Aproveite e entre em nossa platarfoma para dentistas.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Entre com</small></div>
          <div class="btn-wrapper text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ou entre com suas credenciais</small>
          </div>
          <form (submit)="onSubmit()" [formGroup]="loginForm" >
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="Usuário" formControlName="login">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Senha" type="password" formControlName="password">
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Lembrar senha</span>
              </label>
            </div>
            <a class="nav-link nav-link-icon" routerLinkActive="active">
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Entrar</button>
              </div>
          </a>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Esqueceu a senha?</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-light"><small>Criar uma nova conta</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
