<!-- <p>Seja bem vindo(a) {{ login }}</p>
 <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead> -->
            <!-- <tr>
                <th>Dentista</th>
                <th>CRO</th>
                <th>Data</th>
                <th>Horário Disponível</th>
                <th>Marcar Consulta</th>
            </tr>
        </thead>
        
        <tr *ngIf="isAppointmentNull">
                <td colspan="4">Consultas não disponível</td>
                <button (click)="save()">Marcar Consulta</button>
        </tr>  
        
        <tbody>
        <tr *ngFor="let apt of appointment">  
               
                <td>{{apt.userDentist}}</td>
                <td>89854424154</td>
                <td>12/05/19</td>
                <td>08:00</td>
                <td><button>CLAR</button></td>
        </tr> -->

       
        <mat-card fxFlex>
            <mat-card-title>
              Consultas
            </mat-card-title>
          
            <mat-card-content>
              <form [formGroup]="appointmentForm" (ngSubmit)="save(); appointmentForm.reset()" 
                  fxLayout="column" fxLayoutAlign="space-between" #form="ngForm">
                <input type="hidden" formControlName="id">
          
                <mat-form-field>
                  <input matInput placeholder="Dentista" formControlName="user">
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput placeholder="Paciente" formControlName="patient" type="patient">
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput placeholder="Descrição" formControlName="description" type="description">
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput placeholder="Receita" formControlName="prescription" type="prescription">
                </mat-form-field>
          
                <!-- <mat-form-field>
                  <mat-select placeholder="Departments" formControlName="departments" multiple>
                    <mat-select-trigger>
                      {{productForm.value.departments ? productForm.value.departments[0]?.name : ''}}
                      <span *ngIf="productForm.value.departments?.length > 1" class="additional-selection">
                        (+{{productForm.value.departments.length - 1}} {{productForm.value.departments.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let dep of departments" [value]="dep">{{dep.name}}</mat-option>
                  </mat-select>
                </mat-form-field> -->
          
                <div fxLayout="row" fxLayoutAlign="end end">
                  <button mat-button color="primary" fxFlex="10" type="submit">Save</button>
                  <button mat-button color="warn" fxFlex="10" type="reset">Cancel</button>
                </div>
              </form>
          
          
              <ng-container *ngIf="appointments?.length>0; else empty">
                <mat-list>
                  <h3 mat-subheader>Consultas</h3>
                  <mat-list-item *ngFor="let prod of appointments">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>Dentista: {{prod.user}}</h4>
                    <h4 mat-line>Paciente: {{prod.patient}} </h4>
                    <h4 mat-line>Receita: {{prod.prescription}}</h4>
                    <!-- <mat-chip-list mat-line>
                      <mat-chip *ngFor="let d of prod.user">{{d.user}}</mat-chip>
                    </mat-chip-list> -->
                    <button mat-icon-button color="accent" (click)="delete(prod)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="edit(prod)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>   
              </ng-container> 
              <ng-template #empty>
                <div><em>Empty</em></div>
              </ng-template>
          
            </mat-card-content>
          </mat-card>

